$post-transition-time: 0.2s;
$post-exit-transition-time: 500ms;
$primary-color1: #ff8500;
$primary-color-gradient: #ff9800;


$button-text-color: white;
$button-background-color: #007bff;

$error-text-color: red;
$error-background-color: #ffe5e5;

$star-color: #ccc;
$filled-star-color: gold;
$star-size: 24px;