.white {
    color: white !important;
}

.gold {
    color: #ff8200;
}

.pages {
    display: flex;
    justify-content: center;
}

.title {
    text-align: center;
    margin-top: 10px;
}

.errorRefresh {
    display: flex;
    flex-direction: column;
    align-items: center;
    &>* {
        margin: 0.5rem 0;
    }
}
