@import "../variables/variables";

.commentComponent {
    background: rgb(241, 241, 241);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    justify-content: space-between;
    width: 40rem;

    .comment__modifier {
        margin-right: 1rem;
    }

    .comment__body {
        margin: 0.5rem;
    }

    .comment__rate {
        margin: 0.5rem 0;
    }
}

.formComment {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    gap: 1rem;
    &__title {
        text-align: start;
    }
}

.rating {
    font-size: $star-size;
}

.star {
    color: $star-color;
}

.filled {
    color: $filled-star-color;
}

.comment {}

.comment-enter, .comment-exit {
    opacity: 0;
}

.comment-enter-active, .comment-exit-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
