.navbar {
    display: flex;
    justify-content: center;
    width: 96%;
    padding: 1rem 2rem;
    border-bottom: 1px solid #cccccc;
    position: sticky;
    top: 0;
    z-index: 3;
    background: white;
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        gap: 0.5rem;
        a {
            text-decoration: none;
            color: black;
        }
    }
}


.cartCount {
    font-size: 0.7rem;
    position: absolute;
    top: 0.5rem;
    right: 36.5rem;
    background: #ff8200;
    border-radius: 0.5rem;
    padding: 0.4rem;
}

.loginModal {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    :first-child {
        margin-bottom: auto;
    }
    :last-child {
        margin-top: auto;
    }
}

.white {
    color: white !important;
}
.gold {
    color: #ff8200;
}

.loading {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #ff8200;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loginContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    align-items: center;
}

.authContainer {
    display: flex;
    flex-direction: row;
    gap: 0.5rem
}

.authorized {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: black;
    background: transparent;
    padding: 0.5rem 1.5rem;
    border: 1px #e7e6e6 solid;
    border-radius: 0.5rem;
}
