.productComponent {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;

    .productTitle {
        font-size: xx-large;
        margin-top: 1rem;
        text-align: justify;
    }
}

.productPage {
    display: flex;
    background: rgb(241, 241, 241);
    margin: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 50%;

    &__content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.2rem;
        flex-direction: column;
    }

    &__desc {
        display: flex;
        align-items: center;
    }

    &__img {
        display: flex;
        justify-content: center;
        width: 100%;

        img {
            height: 100%;
            width: 80%;
        }
    }
}

.backBtn2 {
    position: absolute;
    left: 20rem;
    top: 6rem;
}
